#Ignored files for uploads
.vscode/
build/
.DS_Store
filesystem.exe
filesystem
test_filesystem.exe
filesystem.dSYM/Contents/Info.plist
filesystem.dSYM/Contents/Resources/Relocations/aarch64/filesystem.yml
